{
    "presets": [
        "stage-2",
        "env"
    ],
    "plugins": [
        "transform-vue-jsx",
        "transform-export-extensions",
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}